<% include ../partials/header %>

<form method="POST">
  <input type="text" name="username" placeholder="שם משתמש"><br/>
  <input type="password" name="password" placeholder="סיסמא"><br/>
  <button>Login</button>
</form>

<% include ../partials/footer %>