<% include partials/header %>

<a href="/register">רישום משתמש חדש</a>

<form action="/terminals?_method=DELETE" method="POST">
  <button>איפוס טרמינלים</button>
</form>

<% include partials/footer %>