<% include partials/header %>
<button id="get-number">Get Number</button>
<div class="number">
</div>
<script src="/js/script.js"></script>
<input type="hidden" id="token" value="<%= token %>">
<input type="hidden" id="id" value="<%= id%>">
<% include partials/footer %>