<% include partials/header %>
<div id="form">
  <input type="email" placeholder="הכנס אימייל לקבלת הודעה ברגע שמגיע תורך">
  <button id="get-number">קח מספר</button>
  <div class="number">
  </div>
</div>
<input type="hidden" id="token" value="<%= token %>">
<input type="hidden" id="id" value="<%= id %>">

<script src="/socket.io/socket.io.js"></script>
<script src="/js/number.js"></script>
<% include partials/footer %>