* {
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
}

#form {
  margin: 0 auto;
  width: 405px;
}

.number {
  font-size: 100px;
  text-align: center;
  border: 1px solid #010101;
}

.number.dark {
  color: white;
  background: #0005;
}

.number.light {
  color: black;
  background: #FFFA;
}

.centerxy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  z-index: 999;
}

a[href="javascript:;"] {
  color: red;
}

img.active {
  filter: blur(5px);
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/img/queue.jpg');
  background-repeat: no-repeat;
  background-position: 80% 22%;
  background-size: cover;
}

.wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0008;
}