* {
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
}

#form {
  margin: 0 auto;
  width: 405px;
}

.number {
  font-size: 100px;
  text-align: center;
  border: 1px solid #010101;
}

a[href="javascript:;"] {
  color: red;
}

img.active {
  filter: blur(5px);
}